* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'sans-serif';
    box-sizing: border-box;
}

body {
    background: #000;
    color: #fff;
}

.header {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("../../assets/netflix-img/images/header-image.png");
    background-size: cover;
    background-position: center;
    padding: 0.625rem 8%;
    position: relative;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.625rem 0;
}

nav button {
    border: 0;
    outline: 0;
    background: hsl(360, 100%, 43%);
    color: #fff;
    padding: 0.4375rem 1.25rem;
    font-size: 0.75rem;
    border-radius: 0.25rem;
    margin-left: 0.626rem;
    cursor: pointer;
}

.logo {
    width: 9.375rem;
    cursor: pointer;
}


.language-btn {
    display: inline-flex;
    align-items: center;
    background: transparent;
    border: 1px solid #fff;
    padding: 0.4375rem 0.625rem;
}

.language-btn img {
    width: 0.625rem;
    margin-left: 0.625rem;
}

.header-content {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin-top: 6.25rem;
}

.header-content h1 {
    font-size: 2.50rem;
    font-weight: 1000;
    white-space: nowrap;
}

.header-content h3 {
    font-weight: 500;
    font-size: 1.45rem;
    margin-bottom: 1.25rem;
    margin-top: 1.25rem;
}

.email {
    background: #fff;
    border-radius: 4px;
    display: flex;
    align-items: center;
    margin-top: 1.70rem;
    overflow: hidden;
}

.email input {
    flex: 1;
    border: 0;
    outline: 0;
    margin-left: 1.25rem;
}

.email button {
    background: hsl(360, 100%, 43%);
    border: 0;
    outline: 0;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    padding: 0.9375rem 1.875rem;
}

.features {
    font-size: 1.4375rem;
}

.row {
    display: flex;
    border-bottom: 7px solid #36363c;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 3.125rem;
    
}

.text-col {
    flex-basis: 50%;
    margin-bottom: 1.25rem;
}

.img-col {
    flex-basis: 50%;
    margin-bottom: 1.25rem;
}

.img-col img{
    display: block;
    width: 70%;
    margin: auto;
}

.features h2 {
    font-size: 3.125rem;
    font-weight: 600;
    margin-bottom: 1.25rem;
}